$border_radius: 3px;

$error_color: #ff0000;
$hint_color: #ff7e00;
$success_color: #038000;
$deactive_color: #636363;
$intime_color: #3c5bbe;

$testinstructions_color: #a122c0;

$body_bg_color: #fff;
$a_color: #425f7a;
$a_round_bg_color_hover: #587da1;
$a_round_bg_color_active: #314558;
$standart_color_icon_bg_inactive: #aebbc8;

$font_color: #07315c;
$container_font_color: #4d4d4d;
$container_topnavi_font_color: #aaaaaa;
$breadcrumb_font_color: #314558;

$header_bg_color: #e7e5e5;
$container_bg_color: #c2c2c2;
$div_login_bg_color: rgba(255, 255, 255, 0.75);

$div_input_box_shadow: inset 2px 4px 5px 2px rgba(0, 0, 0, 0.2);

$div_login_border_color: #00487a;

$input_bg_color: #e7e7e7;

$table_bg_color_1: #d6d3d3;
$table_bg_color_2: #dcdcdc;
